* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#wrapper {
    width: 100%;
    height: 200%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 300px 300px 300px 290px;

    grid-template-areas:
        "di di"
        "s1 s2"
        "s3 s4"
        "s5 s6"
        "fo fo"
    ;

}


footer {
    background: rgb(51, 50, 51);
    grid-area: fo;
    color: white;
    font-family: 'Oswald', sans-serif;
}

#section_1 {
    background: rgb(51, 50, 51);
    grid-area: s1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

#section_2 {
    background: url(../img/omoss.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: s2;
}

#section_3 {
    background: url(../img/historia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: s3;
}

#section_4 {
    background: rgb(51, 50, 51);
    grid-area: s4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

#section_5 {
    background: rgb(51, 50, 51);
    grid-area: s5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

#section_6 {
    background: url(../img/kartor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: s6;
}

#wrapper2 {
    grid-area: di;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px;

    grid-template-areas:
        "n1 h1 n2"
    ;
}

#a1 {
    background: rgb(253, 253, 253);
    grid-area: n1;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

#a3 {
    background: url(../img/Logga.png);
    background-repeat: no-repeat;
    background-position: center;
    grid-area: h1;
}

#a2 {
    background: rgb(253, 253, 253);
    grid-area: n2;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}