* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#wrapper {
    width: 100%;
    height: 200%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 100px 100px 350px 100px 250px 100px 250px 290px;

    grid-template-areas:
        "di di di"
        "s1 s1 s1"
        "i3 i3 i3"
        "s2 s3 s4"
        "s5 s5 s5"
        "s6 s7 s8"
        "s9 s9 s9"
        "i0 i1 i2"
        "fo fo fo"
    ;

}


#section_1 {
    background: rgb(51, 50, 51);
    grid-area: s1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 150%
}

#section_2 {
    background: rgb(51, 50, 51);
    grid-area: s2;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#section_3 {
    background: rgb(51, 50, 51);
    grid-area: s3;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#section_4 {
    background: rgb(51, 50, 51);
    grid-area: s4;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#section_5 {
    background: rgb(51, 50, 51);
    grid-area: s5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 120%
}

#section_6 {
    background: rgb(51, 50, 51);
    grid-area: s6;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#section_7 {
    background: rgb(51, 50, 51);
    grid-area: s7;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#section_8 {
    background: rgb(51, 50, 51);
    grid-area: s8;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#section_9 {
    background: rgb(51, 50, 51);
    grid-area: s9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 120%
}

#section_10 {
    background: rgb(51, 50, 51);
    grid-area: i0;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#section_11 {
    background: rgb(51, 50, 51);
    grid-area: i1;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#section_12 {
    background: rgb(51, 50, 51);
    grid-area: i2;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#section_13 {
    background: rgb(51, 50, 51);
    grid-area: i3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 120%
}

footer {
    background: rgb(51, 50, 51);
    grid-area: fo;
    color: white;
    font-family: 'Oswald', sans-serif;
}

#wrapper2 {
    grid-area: di;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px;

    grid-template-areas:
        "n1 h1 n2"
    ;

}

#a1 {
    background: rgb(253, 253, 253);
    grid-area: n1;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

#a3 {
    background: url(../img/Logga.png);
    background-repeat: no-repeat;
    background-position: center;
    grid-area: h1;
}

#a2 {
    background: rgb(253, 253, 253);
    grid-area: n2;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}